::view-transition-old(root),
::view-transition-new(root) {
	animation-duration: 0.5s;
}
.main-header {
	view-transition-name: header;
}
header {
	view-transition-name: nav;
}

::view-transition-old(header),
::view-transition-new(header) {
	width: auto;
	animation-duration: 0.5s;
}

.square {
	view-transition-name: square;
}
p {
	view-transition-name: par;
}
::view-transition-old(par),
::view-transition-new(par) {
	width: auto;
	animation-duration: 0.5s;
}
::view-transition-old(square),
::view-transition-new(square) {
	// width: auto;
	animation-duration: 0.5s;
}

// page transition
.page-enter-active,
.page-leave-active {
	transition: all 0.3s;
}
.page-enter-from,
.page-leave-to {
	opacity: 0;
	transform: translateX(-10px);
	// filter: blur(1rem);
}
.layout-enter-active,
.layout-leave-active {
	transition: all 0.4s;
}
.layout-enter-from,
.layout-leave-to {
	opacity: 0;
	filter: blur(2rem);
}

.fade-enter-active,
.fade-leave-active {
	transition: all 0.3s;
}
.fade-enter-from,
.fade-leave-to {
	opacity: 0;
}

@keyframes bounce-alt {
	from,
	20%,
	53%,
	80%,
	to {
		animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
		transform: translate3d(0, 0, 0);
	}
	40%,
	43% {
		animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
		transform: translate3d(0, -30px, 0);
	}
	70% {
		animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
		transform: translate3d(0, -15px, 0);
	}
	90% {
		transform: translate3d(0, -4px, 0);
	}
}
@keyframes bounce-in {
	from,
	20%,
	40%,
	60%,
	80%,
	to {
		animation-timing-function: ease-in-out;
	}
	0% {
		opacity: 0;
		transform: scale3d(0.3, 0.3, 0.3);
	}
	20% {
		transform: scale3d(1.1, 1.1, 1.1);
	}
	40% {
		transform: scale3d(0.9, 0.9, 0.9);
	}
	60% {
		transform: scale3d(1.03, 1.03, 1.03);
		opacity: 1;
	}
	80% {
		transform: scale3d(0.97, 0.97, 0.97);
	}
	to {
		opacity: 1;
		transform: scale3d(1, 1, 1);
	}
}
.animate-bounce-in {
	animation: bounce-in 0.75s linear 1;
}
.animate-bounce-one {
	animation: bounce-alt 0.8s linear 1;
	transform-origin: center bottom;
}
