::view-transition-old(root),
::view-transition-new(root) {
	animation-duration: 0.5s;
}
.main-header {
	view-transition-name: header;
}
header {
	view-transition-name: nav;
}

::view-transition-old(header),
::view-transition-new(header) {
	width: auto;
	animation-duration: 0.5s;
}

.square {
	view-transition-name: square;
}
p {
	view-transition-name: par;
}
::view-transition-old(par),
::view-transition-new(par) {
	width: auto;
	animation-duration: 0.5s;
}
::view-transition-old(square),
::view-transition-new(square) {
	// width: auto;
	animation-duration: 0.5s;
}
