::view-transition-old(root),
::view-transition-new(root) {
	animation-duration: 0.5s;
}
.main-header {
	view-transition-name: header;
}
header {
	view-transition-name: nav;
}

::view-transition-old(header),
::view-transition-new(header) {
	width: auto;
	animation-duration: 0.5s;
}

.square {
	view-transition-name: square;
}
p {
	view-transition-name: par;
}
::view-transition-old(par),
::view-transition-new(par) {
	width: auto;
	animation-duration: 0.5s;
}
::view-transition-old(square),
::view-transition-new(square) {
	// width: auto;
	animation-duration: 0.5s;
}

// page transition
.page-enter-active,
.page-leave-active {
	transition: all 0.3s;
}
.page-enter-from,
.page-leave-to {
	opacity: 0;
	transform: translateX(-10px);
	// filter: blur(1rem);
}
.layout-enter-active,
.layout-leave-active {
	transition: all 0.4s;
}
.layout-enter-from,
.layout-leave-to {
	opacity: 0;
	filter: blur(2rem);
}

.fade-enter-active,
.fade-leave-active {
	transition: all 0.3s;
}
.fade-enter-from,
.fade-leave-to {
	opacity: 0;
}
