@import '_theme.scss';
@import '_motion.scss';

body {
	background-color: var(--bg-light);
	transition: background-color 0.5s;
}

.q-splitter--vertical.q-splitter--workable > .q-splitter__separator {
	border-left: 2px dotted transparent;
	margin-left: 0.5rem;
	margin-right: 1rem;
	background: var(--border-color);
	&:hover,
	&:active {
		border-left: 2px dotted var(--prim);
	}
}

.container {
	padding: 0 1rem;
	@media screen and (max-width: 1800px) {
		margin: 0 auto;
		max-width: 1218px;
	}
}
a:link,
a:visited,
a:active,
a:hover {
	text-decoration: none;
	color: inherit;
}
.rel {
	position: relative;
}

.notific {
	transition: 0.3s ease all;
}
h4 {
	margin-bottom: 1rem;
}
p:last-child {
	margin-bottom: 0;
}

.panel {
	border: 1px solid var(--border-color);
	background: var(--bg-card);
	font-size: 1rem;
	display: grid;
	grid-template-columns: auto 1fr;
	padding: 1rem;
	gap: 1rem;
	margin-bottom: 0.5rem;
	position: relative;
	border-radius: 0.25rem;
	.zg {
		margin-bottom: 0.5rem;
		font-weight: 500;
		letter-spacing: 0.16667em;
	}
}
a.link {
	color: var(--second);
	&:hover {
		text-decoration: underline;
	}
}

code {
	font-family: Consolas, 'courier new', monospace;
	font-size: 1rem;
	padding: 1px 10px;
	background: var(--bg-code);
	color: crimson;
}
.code {
	font-family: Consolas, 'courier new', monospace;
	display: grid;
	grid-template-columns: 1fr 165px;
	align-items: center;
	font-size: 1rem;
	background: var(--bg-code);
	color: crimson;
	padding: 0.5rem;
	border: 1px solid var(--border-color);
	.inside {
		margin-left: 1rem;
	}
	.square {
		width: 100px;
		height: 100px;
		border: 5px solid black;
		justify-self: center;
	}
	.full {
		grid-column: 1/-1;
	}
}
.warn {
	background: var(--bg-warn);
}
.note {
	background: var(--bg-note);
	border: 1px solid var(--border-note);
}
.def {
	font-size: 0.8rem;
	color: grey;
}
